<%= C_header.cetak_header %>
<div class="error">Error: <%= output[:pesan] %></div>
<br/>
<button type="button" onclick="window.location.href='/'">Kembali ke homepage</button>
<%= C_footer.cetak_footer %>