<body>
<h1># Tambah kategori</h1>
<form method="POST" action="/category/create">
<input name="name" type="text" placeholder="masukkan nama kategori">
<button type="submit">Submit</button>
<button type="button" onclick="window.location.href='/category/'">Batal</button>
</form>
</body>